*{
    box-sizing: border-box;
}
body {
    margin: 0px;
}
img {
    width: 100%;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0px;
    padding: 0px;
}
a{
   text-decoration: none;
}
ul, ol {
    margin: 0px;
    padding: 0px;
}
li {
    list-style: none;
}
#class{
    overflow: hidden;
}

/* header part css start */
.main_section{
    background-image: url('../images/iamge-2.jpg');
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
}
.data{
    background-color: rgba(129, 195, 221, 0.408);
    color: white;
    /* padding: 70px 50px; */
}
.data_3{
    background-color: rgba(254, 192, 255, 0.618);
    height: 150px;
} 
.name_1{
    font-size: 40px;
    padding-bottom: 25px;
    font-weight: 700;
}
.name_2{
    border: 5px solid white;
    width: 130px;
}
.name_3{
    font-size: 190px;
    opacity: 0.50;
    padding-left: 50px;
    font-weight: 700;
} 
.name{
    line-height: 120px;
    margin-top: -150px;
    text-align: justify;
}
.name_4{
   font-size:130px;
}
.name_5{
    font-size:130px;
}
.name_6{
    font-size:130px;
}
.about_data{
    border-left: 5px solid pink;
}
.about_full{
    background-color: gray;
}
.about{
    font-size: 35px;
}
.our{
    font-size: 30px;
}
.fast_1{
    font-size: 30px;
}
.fast_2{
    font-size: 30px;
    color: rgb(181, 48, 119);
}
.contant_1{
    padding-left: 50px;
    border-left: 2px solid gray;
}
