*{
    box-sizing: border-box;
}
body {
    margin: 0px;
}
img {
    width: 100%;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0px;
    padding: 0px;
}
a{
   text-decoration: none;
}
ul, ol {
    margin: 0px;
    padding: 0px;
}
li {
    list-style: none;
}
/* #class{
    overflow: hidden;
} */

/* header part css start */
.heading{
    padding-left: 80px;
    padding-top: 30px;
    text-align: justify;
    position: absolute;
    margin-bottom: 50px;
}
.image-1{
    width: 100%;
    height: 100%;
}
.word{
    font-size: 35px;
}
.add_full{
    color: gray;
    /* padding-bottom: 50px; */
}
.add_1{
    font-size: 50px;
    position: inherit;
}
.add_2{
    font-size: 25px;
    margin-top: -1rem;
}
.address{
    background-color: rgba(128, 128, 128, 0.365);
}
.main_section{
    background-image: url('../images/iamge-2.jpg');
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.data{
    background-color: rgba(129, 195, 221, 0.408);
    color: white;
    /* padding: 70px 50px; */
}
.data_3{
    background-color: rgba(254, 192, 255, 0.618);
    height: 150px;
} 
.name_1{
    font-size: 40px;
    padding-bottom: 25px;
    font-weight: 700;
}
.name_2{
    border: 5px solid white;
    width: 130px;
}
.name_3{
    font-size: 190px;
    opacity: 0.50;
    padding-left: 50px;
    font-weight: 700;
} 
.name{
    line-height: 120px;
    margin-top: -150px;
    text-align: justify;
}
.name_4{
   font-size:130px;
}
.name_5{
    font-size:130px;
}
.name_6{
    font-size:130px;
}
.box{
    font-size: 50px;
}
.about_data{
    border-left: 5px solid pink;
}
.about_full{
    background-color: gray;
}
.about{
    font-size: 35px;
}
.our{
    font-size: 30px;
}
.fast_1{
    font-size: 30px;
}
.fast_2{
    font-size: 30px;
    color: rgb(181, 48, 119);
}
.contant_1{
    padding-left: 50px;
    /* border-left: 2px solid gray; */
}
.draw{
    border: 5px solid pink;
}
/* footer part css start */
.footer_data{
    background-color: black;
    color: white;
    padding: 50px 200px;
    font-size: 25px;
}
.dot_1{
    border:3px solid white;
    width: 30px;
}
.ux{
    font-size: 25px;
}
.dot_2{
    border:3px solid white;
    width: 33px;
}
.dot_3{
    border: 3px solid white;
    width: 25px;
    margin-top: 5px;
}
.dot_4{
    border: 3px solid white;
    width: 20px;
    margin-top: 5px;
}
.createch{
    font-size: 20px;
    padding-top: 7px;
}
